.home {
  width: 100vw;
  height: fit-content;
  background: #eff5ee;
  padding: 30px 50px;
  overflow: hidden;
}

/* intro banner */

.home .banner {
  width: 100%;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.home .banner .background {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

.home .banner .image {
  width: fit-content;
  height: 100%;
  position: inherit;
  z-index: 1;
  padding: 0 100px;
}

.home .banner .content {
  position: relative;
  z-index: 1;
  color: white;
}

.home .banner h1 {
  width: 65%;
  font-size: 74px;
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
}

.home .banner .paint {
  width: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.home .banner .mail {
  width: fit-content;
  position: relative;
  margin-top: 25px;
}

.home .banner .mail input {
  width: 300px;
  padding: 15px 45px;
  padding-right: 110px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 23px;
  color: rgba(0, 0, 0, 0.8);
}

.home .banner .mail input:placeholder {
  color: rgba(0, 0, 0, 1);
}

.home .banner .mail i {
  height: 100%;
  position: absolute;
  left: 22px;
  top: 18px;
  color: #1ab272;
  font-size: 14px;
}

.home .banner .mail button {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 80%;
  padding: 0;
  border-radius: 23px;
  background: #1ab272;
  color: white;
  font-weight: 700;
  padding: 0 17px;
  cursor: pointer;
  transition: 0.3s;
}

.home .banner .mail button:hover {
  background: white;
  color: #1ab272;
}

/* featured categories */

.featured {
  width: 100%;
  height: 250px;
  background: white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
}

.featured h1 {
  color: rgba(0, 0, 0, 0.88);
}

.featured .category_names {
  width: fit-content;
  display: flex;
  gap: 50px;
  margin-top: 15px;
}

.featured .category_names > div {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.featured .category_names img {
  width: 100%;
  height: 100%;
  outline: none;
  background: #c7a47a;
  border: 1px solid #c7a47a;
  outline: none;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.featured .category_names > div:hover img {
  transform: scale(1.1) translateY(-3px);
}

.featured .category_names span {
  font-weight: 600;
  transition: 0.3s;
}

.featured .category_names > div:hover span {
  color: #1ab272;
}

/* products */

.products_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 17px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 65px;
}

.products_list .titles {
  width: fit-content;
  display: flex;
}

.products_list h1 {
  font-size: 24px;
  margin: 0 30px;
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.88);
  position: relative;
  cursor: pointer;
}

.products_list h1.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.88);
  position: absolute;
  bottom: 0;
  left: 0;
}

.products_list .list {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 20px;
  border-radius: 17px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.products_list .list > div {
  width: 18%;
  height: 550px;
}

.products_list i.fa-arrow-left,
.products_list i.fa-arrow-right {
  position: absolute;
  top: 50%;
  padding: 15px 17px;
  border-radius: 50%;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.products_list:hover i.fa-arrow-left,
.products_list:hover i.fa-arrow-right {
  opacity: 1;
}

.products_list i.fa-arrow-left:hover,
.products_list i.fa-arrow-right:hover {
  background: #243f2f;
  color: white;
}

.products_list i.fa-arrow-left {
  left: 0;
  transform: translate(-50%, -50%);
}

.products_list i.fa-arrow-right {
  right: 0;
  transform: translate(50%, -50%);
}

.products_list .adv {
  background: #fae2be;
  padding: 75px 25px;
}

.products_list .adv h2 {
  color: white;
  font-size: 32px;
}

.products_list .adv button {
  padding: 10px 23px;
  background: white;
  margin-top: 7px;
  border-radius: 17px;
}

.products_list .product {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.products_list .product .image {
  width: 100%;
  height: 225px;
  background: rgba(0, 0, 0, 0.05);
}

.products_list h3 {
  padding: 25px;
  padding-bottom: 7px;
}

.products_list span.sub_text,
.products_list span.category,
.products_list span.price {
  padding: 25px;
  padding-top: 0;
  padding-bottom: 7px;
  display: block;
}

.products_list span.category {
  margin-top: 150px;
}

.products_list span.price {
  font-size: 20px;
  color: #1ab272;
  font-weight: 700;
}

.products_list .product button {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 35px;
  right: 25px;
  background: rgba(149, 157, 165, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.products_list .product button span {
  width: 100px;
  background: #243f2f;
  position: absolute;
  bottom: 65px;
  right: 0;
  padding: 7px 15px;
  border-radius: 15px;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}

.products_list .product button span::after {
  content: "";
  width: 35px;
  height: 25px;
  position: absolute;
  bottom: -5px;
  right: 3px;
  background: linear-gradient(45deg, #243f2f 0%, #243f2f 50%, transparent 50%);
  transform: rotate(-45deg);
  z-index: -1;
}

.products_list .product button:hover {
  width: fit-content;
  background: #243f2f;
  color: white;
}

.products_list .product button:hover span {
  opacity: 1;
}

.products_list .product i {
  padding: 0 15px;
}

/* characteristics */

.chars {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
  padding-bottom: 60px;
}

.chars .char {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chars i {
  color: #1ab272;
  margin-bottom: 17px;
  font-size: 24px;
}

.chars h2 {
  color: rgba(0, 0, 0, 0.73);
  font-size: 22px;
  margin-bottom: 12px;
}

.chars span {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.73);
}

/* offers */

.offers {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 0;
  padding-top: 0;
}

.offers .offer {
  width: 100%;
  height: 450px;
  background: #84ab43;
  border-radius: 17px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.offers .offer:nth-child(2) {
  background: #35abd8;
}

.offers .offer:nth-child(3) {
  background: #f4e2c6;
}

.offers .offer:hover {
  transform: translateY(-10px);
}

/* delivery banner */

.delivery_banner {
  width: 100%;
  height: 500px;
  background: linear-gradient(to right, #1f4e38 0%, #1f4e38 50%, #628374);
  border-radius: 17px;
  display: flex;
  align-items: center;
  padding: 0 150px;
  position: relative;
  z-index: 1;
}

.delivery_banner .content {
  padding-left: 100px;
  padding-right: 75px;
}

.delivery_banner h1 {
  color: white;
  font-size: 64px;
  position: relative;
  z-index: 1;
}

.delivery_banner h1 img {
  width: 650px;
  height: fit-content;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: -1;
}

.delivery_banner span {
  font-weight: 600;
  margin-top: 13px;
  display: block;
  color: white;
}

.delivery_banner img {
  height: 600px;
  position: relative;
  bottom: 65px;
}

@media screen and (max-width: 1600px) {
  .home .banner h1 {
    font-size: 54px;
  }

  .featured {
    overflow: hidden;
  }

  .products_list .list {
    flex-wrap: wrap;
  }

  .products_list .list > div {
    width: 25%;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  .products_list i.fa-arrow-left,
  .products_list i.fa-arrow-right {
    opacity: 1;
  }

  .chars {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: safe;
  }

  .chars .char {
    width: fit-content;
  }

  .delivery_banner .content {
    overflow: hidden;
  }

  .delivery_banner h1 {
    font-size: 44px;
  }

  .delivery_banner .content img {
    width: 75%;
  }

  .delivery_banner > img {
    height: 110%;
  }
}

@media screen and (max-width: 1400px) {
  .home {
    padding: 30px 35px;
  }

  .home .banner {
    padding: 0 50px;
  }

  .home .banner .image {
    padding: 0;
    padding-right: 75px;
  }

  .home .banner h1 {
    width: 100%;
  }

  .home .delivery_banner .content {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .home .banner h1 {
    font-size: 44px;
  }

  .home .banner {
    height: 400px;
  }

  .home .banner .image {
    padding-right: 25px;
  }

  .featured h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .featured .category_names {
    gap: 35px;
  }

  .featured .category_names > div {
    width: 75px;
    height: 75px;
    position: relative;
  }

  .featured .category_names span {
    width: 100px;
    font-size: 14px;
    position: absolute;
    bottom: -15px;
    text-align: center;
  }

  .products_list .list > div {
    width: 33.33333333%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 450px;
  }

  .products_list span.category {
    margin-top: 50px;
  }

  .offers {
    flex-wrap: wrap;
  }

  .offers .offer {
    height: 350px;
  }

  .delivery_banner {
    padding: 0 50px;
  }

  .delivery_banner .content {
    padding: 0;
  }

  .delivery_banner h1 {
    font-size: 44px;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 976px) {
  .home {
    padding: 30px 25px;
  }

  .home .banner {
    flex-direction: column;
    height: fit-content;
    padding: 50px 40px;
    align-items: start;
  }

  .home .banner .content img {
    width: 50%;
  }

  .home .banner h1 {
    font-size: 32px;
  }

  .offers .offer {
    height: 250px;
  }

  .delivery_banner {
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0;
    height: fit-content;
  }

  .delivery_banner .content {
    height: fit-content;
    overflow: visible;
  }

  .delivery_banner > img {
    object-fit: contain;
    height: fit-content;
    width: 65%;
    bottom: -35px;
  }
}

@media screen and (max-width: 656px) {
  .home .banner {
    padding: 35px 25px;
  }

  .home .banner .content img {
    top: 0;
  }

  .home h1 {
    font-size: 32px;
  }

  .home .featured {
    width: 100%;
    position: relative;
  }

  .featured h1 {
    margin-bottom: 100px;
  }

  .home .featured .category_names {
    position: absolute;
    left: 50px;
    top: 105px;
  }

  .products_list {
    height: fit-content;
  }

  .products_list h1 {
    font-size: 20px;
  }

  .products_list h1:nth-child(3),
  .products_list h1:nth-child(4) {
    display: none;
  }

  .products_list .list > div {
    height: 400px;
    width: 50%;
  }

  .products_list span.category {
    margin-top: 10px;
  }

  .delivery_banner img {
    width: 100%;
    bottom: -30px;
  }
}

@media screen and (max-width: 456px) {
  .home {
    padding: 20px 15px;
  }

  .delivery_banner img {
    width: 100%;
    bottom: -20px;
  }
}
