/* primary nav bar contact details */
.details {
  width: 100vw;
  height: 57px;
  background: #243f2f;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.details .left {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}

.details a:hover {
  color: #01d17f;
}

.details .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.details .right > div {
  display: flex;
  align-items: center;
}

.details i {
  color: #01d17f;
  margin-right: 7px;
  font-size: 13px;
}

.details .right span {
  font-weight: 600;
  font-size: 14px;
}

.details .right .customer_support span {
  font-size: 20px;
}

.details .right a {
  font-size: 20px;
  font-weight: 600;
}

.details .right a:hover {
  color: #01d17f;
}

/*second nav bar */

nav {
  width: 100vw;
  height: 90px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav > div,
nav > div > div,
nav > div span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 150px;
  height: 50px;
  background: #369ab8;
  border-radius: 10px;
}

nav .categories_btn {
  padding: 13px 20px;
  color: white;
  cursor: pointer;
  background: #243f2f;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

nav .categories_btn i {
  font-size: 24px;
  color: #01d17f;
  margin-right: 7px;
}

nav .search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .search_input {
  width: 500px;
  font-size: 18px;
  margin: 0 40px;
  background: rgba(0, 0, 0, 0.06);
  font-size: 16px;
  padding: 16px 23px;
  border-radius: 5px;
}

nav .search_input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

nav .search i {
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 55px;
  font-size: 20px;
}

nav .center a {
  font-size: 13px;
  text-decoration: none;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

nav .center a:hover {
  color: #01d17f;
}

nav .center .languages {
  border-radius: 5px;
  margin-left: 15px;
  padding: 4px 6px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.06);
}

nav .center .languages:hover {
  color: #01d17f;
}

nav .center .languages i {
  margin-left: 5px;
  font-size: 10px;
}

nav .right i {
  height: 100%;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 7px;
  font-size: 18px;
}

nav .ham_proxy {
  display: none;
}

/* sidebar */

.sidebar {
  width: 415px;
  height: 100vh;
  background: #243f2f;
  position: fixed;
  inset: 0;
  left: -415px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  display: none;
}

.sidebar.active {
  left: 0;
}

.sidebar .wrapper {
  height: fit-content;
  overflow: scroll;
  padding: 50px 25px;
}

.ham {
  width: 50px;
  height: 50px;
  padding: 0 7px;
  cursor: pointer;
  position: absolute;
  right: -85px;
  top: 45px;
}

.ham .bar,
.ham .bar::before,
.ham .bar::after {
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  transition: 0.5s;
  border-radius: 35px;
  border: none;
}

.ham .bar::before,
.ham .bar::after {
  content: "";
  position: absolute;
  top: -8px;
}

.ham .bar::after {
  top: 8px;
}

.ham.active {
  right: 35px;
}

.ham.active .bar {
  transform: rotate(135deg);
  background: white;
}

.ham.active .bar::before {
  transform: rotate(90deg);
  top: 0;
  background: white;
}

.ham.active .bar::after {
  top: 0;
  background: white;
}

.sidebar i {
  color: #01d17f;
}

.sidebar .category i:nth-child(1) {
  font-size: 24px;
}

.sidebar .category i:nth-child(3),
.sidebar .link i:nth-child(2) {
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: 0;
}

.sidebar .categories {
  overflow: hidden;
  margin-top: 35px;
  margin-bottom: 20px;
}

.sidebar .category {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 35px;
  cursor: pointer;
}

.sidebar span {
  color: white;
  padding-left: 20px;
  font-weight: 600;
}

.sidebar .link {
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
}

.sidebar .link span {
  padding: 0;
}

.sidebar .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.sidebar .features * {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.sidebar .features i {
  margin-left: 5px;
  font-size: 10px;
  position: relative;
  bottom: 1px;
}

.sidebar .details0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.sidebar .details0 * {
  font-size: 13px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.sidebar .details0 > * {
  margin-bottom: 13px;
}

.sidebar .details0 span {
  padding-left: 7px;
}

.sidebar .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 15px;
}

.sidebar .icons i {
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 1400px) {
  .details {
    display: none;
  }

  nav {
    padding: 0 50px;
  }

  nav .center {
    display: none;
  }

  nav .right i {
    display: none;
  }

  nav .right i:nth-child(3) {
    display: block;
  }

  nav .ham_proxy {
    width: 35px;
    display: block;
  }

  .sidebar {
    display: block;
  }

  .ham {
    right: -90px;
  }
}

@media screen and (max-width: 976px) {
  nav {
    padding: 0 40px;
  }

  .ham {
    right: -80px;
  }
}

@media screen and (max-width: 656px) {
  nav {
    padding: 0 30px;
  }

  .ham {
    right: -80px;
  }
}

@media screen and (max-width: 456px) {
  nav {
    padding: 0 25px;
  }

  .ham {
    right: -70px;
  }

  .sidebar {
    width: 100%;
    left: -100%;
  }
}
