/* primary nav bar contact details */
.details {
  width: 100vw;
  height: 57px;
  background: #243f2f;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.details .left {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}

.details a:hover {
  color: #01d17f;
}

.details .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.details .right > div {
  display: flex;
  align-items: center;
}

.details i {
  color: #01d17f;
  margin-right: 7px;
  font-size: 13px;
}

.details .right span {
  font-weight: 600;
  font-size: 14px;
}

.details .right .customer_support span {
  font-size: 20px;
}

.details .right a {
  font-size: 20px;
  font-weight: 600;
}

.details .right a:hover {
  color: #01d17f;
}

/*second nav bar */

nav {
  width: 100vw;
  height: 90px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav > div,
nav > div > div,
nav > div span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 150px;
  height: 50px;
  background: #369ab8;
  border-radius: 10px;
}

nav .categories_btn {
  padding: 13px 20px;
  color: white;
  cursor: pointer;
  background: #243f2f;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

nav .categories_btn i {
  font-size: 24px;
  color: #01d17f;
  margin-right: 7px;
}

nav .search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .search_input {
  width: 500px;
  font-size: 18px;
  margin: 0 40px;
  background: rgba(0, 0, 0, 0.06);
  font-size: 16px;
  padding: 16px 23px;
  border-radius: 5px;
}

nav .search_input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

nav .search i {
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 55px;
  font-size: 20px;
}

nav .center a {
  font-size: 13px;
  text-decoration: none;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

nav .center a:hover {
  color: #01d17f;
}

nav .center .languages {
  border-radius: 5px;
  margin-left: 15px;
  padding: 4px 6px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.06);
}

nav .center .languages:hover {
  color: #01d17f;
}

nav .center .languages i {
  margin-left: 5px;
  font-size: 10px;
}

nav .right i {
  height: 100%;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 7px;
  font-size: 18px;
}
