/* primary nav bar contact details */
.details {
  width: 100vw;
  height: 57px;
  background: #243f2f;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.details .left {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}

.details .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.details .right > div {
  display: flex;
  align-items: center;
}

.details i {
  color: #01d17f;
  margin-right: 7px;
  font-size: 13px;
}

.details .right span {
  font-weight: 600;
  font-size: 14px;
}

.details .right .customer_support span {
  font-size: 20px;
}

.details .right a {
  font-size: 20px;
  font-weight: 600;
}

.details .right a:hover {
  color: #01d17f;
}

/*second nav bar */

nav {
  width: 100vw;
  height: 90px;
  background: grey;
}
